# Prerequisites
*.d

# vscode
.vscode/*

# exceptions
!.vscode/launch.json
!.vscode/tasks.json

# exceptions
!.vscode/launch.json
!.vscode/tasks.json

# Compiled Object files
*.slo
*.lo
*.o
*.oo
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# debug information files
*.dwo

# output binaries
*.bin
*.img
